{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/header.html' %}
</head>


<body class="is-preload">
    <!-- Wrapper -->
	<div id="wrapper" class="fade-in">

        <!-- Navbar-->
        {% include 'base/navbar.html' %}
        <!-- End Navbar-->

        <!--Main Sections-->
        {% block content %}
        {% endblock %}
        <!-- End Main Sections-->

        <!-- Start: Footer Section -->
        {% include 'base/footer.html' %}
        <!-- End: Footer Section -->

        <!-- JS Section-->
        {% include 'base/js.html' %}
        <!--End JS Section-->
    </div>

</body>

</html>