{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- About -->
    <article class="post featured">
        <header class="major">
            <h2>About Me</h2>
            <span class="date">Biography</span>
            <a href="#" class="image main"><img src="{%static 'images/pic01.jpg' %}"  alt="" /></a>
            <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
            facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
            amet nullam sed etiam veroeros.Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
            facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
            amet nullam sed etiam veroeros.</p>
        </header>
    </article>

{% endblock %}